nav ul {
    position: relative;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.button-container {
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    display: flex;
    align-items: left;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 25px; 
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn:hover {
    opacity: 0.8; 
}

.app-title {
    margin-bottom: 10px; 
    margin-top: 10px;
    left: 30px;
    font-size: 24px; 
}

.slick-prev,.slick-next {
    z-index: 1;
}
.slick-next {
    right: 15px;
    color:#333;
}

.slick-prev {
    left: 15px;
    color:#333;
}

.slider img:hover {
    opacity: 0.8;
    transition: background-color 0.3s ease; 
}


/* スライドアニメーション */
@keyframes slideAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* top.index */

body {
    background-color: #FFCCCC;
    margin: 0;
    padding: 0;
}


.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: #FFCCCC;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.square:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.square a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.square i {
    font-size: 36px;
    margin-bottom: 10px;
}




